[Unit]
Description=gunicorn uvicorn service for Vine App
After=syslog.target

[Service]
ExecStart=/apps/venv/bin/gunicorn -b 127.0.0.1:8000 -w 4 -k uvicorn.workers.UvicornWorker main:api --name weather_svc --chdir /apps/vine/ --access-logfile /apps/logs/vine/access.log --error-logfile /apps/logs/vine/errors.log --user archaeon

# \/ \/ <- Added post recording for better restart perf.
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# /\ /\ <- Added post recording for better restart perf.

# Requires systemd version 211 or newer
RuntimeDirectory=/apps/vine/
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all


[Install]
WantedBy=multi-user.target